@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

::-webkit-scrollbar{width:2px;border-left:1px solid ; height: 2px; }
::-webkit-scrollbar-thumb{background-color:rgba(217, 217, 217, 0.26);}
